SOSOVALUE_API_KEY=
SOSOVALUE_BASE_URL=https://openapi.sosovalue.com/openapi/v1
SOSOVALUE_MARKET_PATH=/token/market/list
SOSOVALUE_NEWS_PATH=/news/list
SODEX_NETWORK=mainnet
SODEX_API_KEY_NAME=
SODEX_API_PRIVATE_KEY=
SODEX_ACCOUNT_ID=
